* {
    margin: 0;
    padding:0;
}
body {
    background: rgb(212, 228, 202);
    color:cornflowerblue;
    font-family: verdana;
}
<<<<<<< HEAD
p{
    color:aqua
=======
.btn {
    text-decoration: none;
    background: #000;
    color:white;
    font-family: verdana;
    padding: 10px 20px;
>>>>>>> b264056454f1460a7da3936b97aceaeda8619784
}